.btn {
	&-lg {
		--bs-btn-padding-y: .65625rem;
		--bs-btn-padding-x: 1rem;
		--bs-btn-border-radius: .625rem;
		--bs-btn-line-height: 1.35;
	}

	&-primary {
		&-gradient {
			background: linear-gradient(90deg, #4FAEDB 8.9%, #482DC0 82.76%);
		}
	}
}
