.btn {
	--bs-btn-padding-y: .875rem;
	--bs-btn-padding-x: 1rem;
	--bs-btn-line-height: 1.35;
	--bs-btn-border-radius: .625rem;
	--bs-btn-font-weight: 600;
	--bs-btn-color: #fff;

	&-lg {
		--bs-btn-font-size: 1.5rem;
		--bs-btn-padding-x: 4.75rem;
		--bs-btn-line-height: 1.735;
	}

	&-primary {
		&-gradient {
			--bs-btn-border-width: 0;
			background: linear-gradient(90deg, #4FAEDB 8.9%, #482DC0 82.76%);
		}
	}
}
