##
title = "Pauline"
url = "/"
layout = "default"
meta_title = "Welcome"
id = "home"

[resources]
less[] = "pages/index.less"
==

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="jumbotron-intro">
					<h1>Welcome to October CMS!</h1>
					<p class="lead">
						This is the October CMS demo theme that explores the core features. You can use it as a foundation for your new website.
					</p>
					<p>
						{% if backendUrl %}
						<a href="{{ backendUrl }}" target="backend" class="btn btn-outline-light btn-pill">
							Explore the Backend Area
						</a>
						{% else %}
						<a href="https://octobercms.com/features" target="_blank" class="btn btn-outline-light btn-pill">
							Explore the Platform Features
						</a>
						{% endif %}
					</p>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="jumbotron-product">
					<img src="{{ 'assets/images/homepage-header-image.png'|theme }}" class="img-fluid" alt="Product Shot" />
				</div>
			</div>
		</div>
		<div class="jumbotron-decoration-1"></div>
		<div class="jumbotron-decoration-2"></div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="jumbotron-intro">
					<h1>Welcome to October CMS!</h1>
					<p class="lead">
						This is the October CMS demo theme that explores the core features. You can use it as a foundation for your new website.
					</p>
					<p>
						{% if backendUrl %}
						<a href="{{ backendUrl }}" target="backend" class="btn btn-outline-light btn-pill">
							Explore the Backend Area
						</a>
						{% else %}
						<a href="https://octobercms.com/features" target="_blank" class="btn btn-outline-light btn-pill">
							Explore the Platform Features
						</a>
						{% endif %}
					</p>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="jumbotron-product">
					<img src="{{ 'assets/images/homepage-header-image.png'|theme }}" class="img-fluid" alt="Product Shot" />
				</div>
			</div>
		</div>
		<div class="jumbotron-decoration-1"></div>
		<div class="jumbotron-decoration-2"></div>
	</div>
</div>
