<!-- Nav -->
{% placeholder headerBefore %}
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<div class="container">
		<a class="navbar-brand" href="{{ 'index'|page }}">
			<img alt="October CMS Demo" src="{{ 'assets/images/logo.svg'|theme }}" width="108.38"/>
		</a>
		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
		        data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% partial 'site/nav' %}
			</ul>
		</div>
	</div>
</nav>
{% placeholder headerAfter %}
