[backendLink]
[sitePicker]
==
{% set activeNavLink = activeNavLink|default(this.page.id) %}

<li class="nav-item">
	<a class="nav-link fw-bold {{ activeNavLink == 'home' ? 'active' }}" href="{{ '/'|page }}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link fw-bold {{ activeNavLink == 'services' ? 'active' }}" href="{{ 'services'|page }}">Services</a>
</li>
<li class="nav-item">
	<a class="nav-link fw-bold {{ activeNavLink == 'about' ? 'active' }}" href="{{ 'about'|page }}">About Me</a>
</li>
<li class="nav-item">
	<a class="nav-link fw-bold {{ activeNavLink == 'projects' ? 'active' }}" href="{{ 'projects'|page }}">Projects</a>
</li>
<li class="nav-item">
	<a class="ms-3 btn btn-primary btn-primary-gradient text-uppercase" href="{{ 'contact'|page }}">Contact Me</a>
</li>
